<div id="wanglai_kehuqiank_zhut" style="margin-top: 10px;padding-left: 5px">
	<div class="navbar-form navbar-right">
		<button id="wanglai_gongysqiank_print" class="btn btn-success" style="margin-left: 8px">打印</button>
		<button id="wanglai_gongysqiank_daochu" class="btn btn-success" style="margin-left: 8px">导出</button>

	</div>

	<div>
		<table class="table table-bordered table-condensed">
			<tr>
				<th style="width: 80px">ID</th>
				<th>供应商名称</th>
				<th style="width: 150px">欠款金额</th>
			</tr>
			{volist name="row" id="vo"}
				{php}$heji = $heji + $vo['qiank']{/php}
				<tr>
					<td>{$i}</td>
					<td style="text-align: left">{$vo.gongys_name}-{$vo.gongys_dizhi}</td>
					<td style="text-align: center;">{$vo.qiank}</td>
				</tr>
			{/volist}
				<tr>
					<td>合计</td>
					<td></td>
					<td style="text-align: center;">{$heji}</td>
				</tr>
		</table>
	</div>
</div>

<script type="text/javascript">
	$('#wanglai_gongysqiank_print').click(function(event) {
		window.open('{:url("wanglai/gongysqiank")}?print=1');
	});

	$('#wanglai_gongysqiank_daochu').click(function(event) {
		window.open('{:url("wanglai/gongysqiank_daochu")}');
	});
</script>