<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>供应链系统</title>
	<link href="__CSS__/bootstrap.min.css" rel="stylesheet">
	<link href="__CSS__/def.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="__CSS__/bootstrap-datetimepicker.min.css">
	<script src="__JS__/jquery.min.js"></script>
	<script src="__JS__/bootstrap.min.js"></script>
	<script src="__JS__/bootstrap3-typeahead.min.js"></script>
	<script src="__JS__/bootstrap-datetimepicker.min.js"></script>
	<script src="__JS__/locales/bootstrap-datetimepicker.zh-CN.js"></script>
	<script src="https://unpkg.com/frappe-charts@1.1.0/dist/frappe-charts.min.iife.js"></script>
	<script src="__JS__/def.js"></script>
</head>
<body >
	<div id="zhuti">
		<div style="text-align: center;">
			<div class="panel panel-primary" style="width: 420px;margin: 60px auto;">
				<div class="panel-heading">
					<h3 class="panel-title">供应链系统</h3>
				</div>
				<div class="panel-body">
					<div class="form-group" style="text-align: left">
						<label class="control-label">用户名</label>
						<input type="text" class="form-control" id='fuser' placeholder="用户名">
					</div>
					<div class="form-group" style="text-align: left">
						<label class="control-label">密码</label>
						<input type="password" class="form-control" id='fpwd' placeholder="密码">
					</div>

					<div id='del_yanzm' class="form-group form-inline" style="text-align: left">
						<label class="control-label">验证码</label>
						<input type="text" class="form-control" id='yanzm' style="width: 140px;margin-left: 10px" placeholder="验证码">
						<img src="{:url('index/verify')}" alt="captcha" id='yanzm_img' onclick="this.src='{:url("index/verify")}?s/'+ Math.random()" />
					</div>
					<div style="display: flex;justify-content: space-between;">
						<button type="submit" class="btn btn-warning" style="width: 49%" id="zhuce">注册</button>
						<button type="submit" class="btn btn-success" style="width: 49%" id="login">登录</button>
					</div>
					<small style="margin-top: 5px; color: #ccc">微信：18113220863 &nbsp 提供二次开发服务</small>
				</div>
			</div>
		</div>
		<div style="position: fixed; bottom: 5px;right: 15px" style="text-align: center; width: 100%">备案号：鲁ICP备18055211号-1</div>
	</div>


	<script type="text/javascript">
		$.ajax({
			url: '{:url("Index/checklogin")}',
			success: function(res){
				if(res){
					$('#zhuti').empty();
					$('#zhuti').load('{:url("Index/zhu")}');
				}
			}
		})
		

		$('#login').click(function(event) {
			if(isempty(['fuser','fpwd','yanzm'])){
				$.ajax({
					type: 'post',
					url: '{:url("index/login")}',
					data:{
						fuser: $('#fuser').val(),
						fpwd: $('#fpwd').val(),
						fyanzm: $('#yanzm').val()
					},
					success: function(msg){
						if(msg == true){
							$('#zhuti').empty();
							$('#zhuti').load('{:url("Index/zhu")}');
						}else{
							$('#yanzm_img').attr('src',"{:url('index/verify')}?s/" + Math.random());
							$('#login').removeClass('btn-primary');
							$('#login').addClass('btn-danger');
							$('#login').text(msg);
						}
					}
				})
			}

		});


		$('#zhuce').click(function(event) {
			$('#zhuti').empty();
			$('#zhuti').load('{:url("Index/zhuce")}');
		});



		var isChrome = window.navigator.userAgent.indexOf("Chrome") !== -1;
		var isSafari = window.navigator.userAgent.indexOf("Safari") !== -1;
		var isFirefox = window.navigator.userAgent.indexOf("Firefox") !== -1;


		if (!isChrome && !isSafari && !isFirefox) {
			alert("请使用Chrome或Firefox内核的浏览器。例如：谷歌浏览器、360浏览器、火狐浏览器等");
			$('#login').attr('disabled','disabled');
		}
	</script>
</body>
</html>